/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.full-width {
  width: 100%;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.mat-chip {
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    display: inline-flex;
    padding: 7px 12px;
    border-radius: 16px;
    align-items: center;
    cursor: default;
    min-height: 32px;
    height: 1px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    transform: translateZ(0);
    font-size: 14px;
    font-weight: 500;
}

.mat-chip::after {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    border-radius: inherit;
    background-color: #000;
    opacity: 0;
    content: '';
    pointer-events: none;
    transition: opacity .2s cubic-bezier(.35,0,.25,1);
}

mat-spinner {
    margin:0 auto;
}

div .loading {
    text-align: center;
}
