<mat-card>
  <mat-card-title>
    <a [routerLink]="['/ccis', cci.cci_id]">{{ cci.cci_id }}</a>
    </mat-card-title>
  <mat-card-content>
    <table class="vertTable">
      <tr>
        <th>Description</th>
        <td>{{ cci.text }}</td>
      </tr>
      <tr>
        <th>Assessment Procedure</th>
        <td>{{ cci.ap_acronym }}</td>
      </tr>
      <tr *ngIf="cci.org_guidance">
        <th>Organization Guidance</th>
        <td>
          <textarea
            cdkTextareaAutosize
            class="full-width"
            disabled
          >{{ cci.org_guidance }}
          </textarea>
        </td>
      </tr>
      <tr *ngIf="cci.auditor_guidance">
        <th>Auditor Guidance</th>
        <td>
          <textarea
            cdkTextareaAutosize
            class="full-width"
            disabled
          >{{ cci.auditor_guidance }}
          </textarea>
        </td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>
